/* BSM24 Poster Page Specific Styles */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pdf-container {
    margin-bottom: 20px;
    padding: 0px;
    overflow: hidden;
}

.pdf-description {
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pdf-thumbnail {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.pdf-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}
